body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 36px;
}

header button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

section {
    padding: 20px;
    margin: 20px;
}

h2 {
    color: #333;
}

.service-item {
    background-color: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.price {
    color: #e67e22;
    font-weight: bold;
}

.contact-button {
    display: inline-block;
    background-color: #E1306C;
    color: white;
    padding: 12px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 18px;
    margin-top: 20px;
}

.contact-button:hover {
    background-color: #bc135c;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.payment-info {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.payment-info h3 {
    color: #e67e22;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    padding: 10px 15px;
    margin: 0 10px;
    cursor: pointer;
}
